.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1a3c6f, #4a90e2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-card {
  background: white;
  padding: 40px;
  padding-top:80px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.register-logo {
  width: 400px;
  margin-bottom:-120px;
  margin-top: -150px;
  color: White;
}

.register-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #34495e;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border 0.3s;
}

.form-group input:focus {
  border-color: #2980b9;
}

.btn-primary {
  width: 100%;
  background: #2980b9;
  color: white;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
 
}

.btn-primary:hover {
  background: #1f6391;
}

.btn-link {
  margin-top: 15px;
  background: none;
  border: none;
  color: #2980b9;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 15px;
}

.success-message {
  color: #27ae60;
  margin-bottom: 15px;
}
